<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Symbol</th>
      <th>Price</th>
      <th>1hr</th>
      <th>24hrs</th>
      <th>7d</th>
    </tr>
  </thead>

  <tbody>
    <% @currencies.each do |currency| %>
      <% if currency.symbol %>
        <% currency.symbol = currency.symbol.upcase %>
      <% end %>
      <tr>
      <% for x in @coins %>
        <% if currency.symbol == x["symbol"] %>
          <td><%= x["rank"] %></td>
          <td><%= link_to x["name"], currency %></td>
          <td><%= currency.symbol %></td>
          <td>$<%= x["price_usd"] %></td>
          <td>$<%= x["percent_change_1h"] %>%</td>
          <td>$<%= x["percent_change_24h"] %>%</td>
          <td>$<%= x["percent_change_7d"] %>%</td>
        <% end %>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<% @currency.each do |currency| %>
  <%= currency ["name"] %>
  <%= currency ["price_usd"] %>
<% end %>
